# Dummy values for local development only
# ---------------------- DB関連 ----------------------
# DBアドミン用
DB_ADMIN_USER=dummy_admin_user
DB_ADMIN_PASSWORD=dummy_admin_password
DB_NAME=dummy_database_name

# DB migration用
DB_MIGRATION_USER=dummy_migration_user
DB_MIGRATION_PASSWORD=dummy_migration_password

# App用
DB_APP_USER=dummy_app_user
DB_APP_PASSWORD=dummy_app_password

# NW系
DB_HOST="127.0.0.1"
DB_PORT=5432
# ---------------------- APP関連 ----------------------